# LETS LEARN HOW TO DO DATABASE CREATING IN PYTHON

In [ ]:
import sqlite3

connection = sqlite3.connect(r"path\to\database.db")

the *connect* variable stores the connection to the database. the connect command can create the db as well.

the r in the string prevents the \ from escaping

In [ ]:
cursor = connection.cursor()

In [ ]:
sql = 'select * from people'

cursor.execute(sql)

cursor is a mechanism that allow you to navigate and query a database

the 'sql' variable stores an sql language query as a variable, the execute method then executes that query

## SQLite DATA TYPES

NULL - nothing
REAL - 7 digits of precision number
TEXT - stores text up to 2gb per item
BLOB - binary object (images, music etc)

IF NOT EXISTS helps prevent errors
CREATE TABLE creates table
DROP TABLE deletes tables

PRIMARY KEY
AUTOINCREMENT automatically increases whenever new items are added

In [ ]:
#e.g table creation

sqlCreateTable = '''create table if not exists cars(
                    ID integer primary key autoincrement,
                    manufacturer text,
                    model text,
                    numberOfDoors integer
                )'''

cursor.execute(sqlCreateTable)

In [ ]:
#e.g. deleting table
sqlDeleteTable = '''drop table cars'''

INSERT INTO adds into the table.

you need to specify which columns in the table you are adding into!!

the .commit() method adds the new data from the cursor into the database

It is best practice to use the .close() method to close your connection to the database once you have committed to it

In [ ]:
sqlInsertIntoTable = '''insert into cars(manufacturer, model, numberOfDoors)
                                    values('Audi', 'A4', 4)'''

cursor.execute(sqlInsertIntoTable)
connection.commit()
connection.close()

## DYNAMICALLY INSERTING INTO SQL FROM PYTHON

In [ ]:
car_string = 'Hyundai,i10,4,EvilCar,Evilcar9000,8' #e.g think about csv for this kind of thing
car_list = car_string.split(',')

manufacturor = car_list[::3] #list indexing that jumps over 3 every time
models = car_list[1::3] #same as next to but starts on 1
doors = car_list[2::3]

for index in range(0, len(manufacturor)):
    sqlDynamicInsert = f'''insert into cars(manufacturer, model, numberOfDoors)
                            values(
                            '{manufacturor[index]}',
                            '{models[index]}',
                            {doors[index]}
                            )'''
    
    cursor.execute(sqlDynamicInsert)
    
    connection.commit()

connection.close()

# INSERTING PLACEHOLDERS

we can use tuples and ??? to insert blank colums before we insert the data!

this can be more resilient to user error

In [ ]:
car_string2 = 'Chevy,Impala,4,Kia,Sorento,4'
car_list = car_string2.split(',')

manufacturor2 = car_list[::3] 
models2 = car_list[1::3] 
doors2 = car_list[2::3]

for index in range(0, len(manufacturor)):
    newValues = (manufacturor2[index],models2[index],doors2[index]) #Note the tuple
    
    sqlPlaceholder = '''insert into cars(manufacturer, model, numberOfDoors)
                            values(?,?,?)'''
    
    cursor.execute(sqlDynamicInsert, newValues) #note the optional second argument
    
    connection.commit()

connection.close()